<div class="content">


    <table id="users-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>
                <th class="th-number">Numbers</th>
                <th class="th-operator">Operator</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>#1</td>
                <td>Kyle Gonzales</td>
                <td>*********</td>
                <td>kylegonzales585@gmail.com</td>
                <td>09623062962</td>
                <td>Edit</td>
            </tr>

            <tr>
                <td>#2</td>
                <td>Mark Ezekiel</td>
                <td>*********</td>
                <td>ezekielreyes644@gmail.com</td>
                <td>09123456789</td>
                <td>Edit</td>
            </tr>

            <tr>
                <td>#3</td>
                <td>Sayieeh</td>
                <td>*********</td>
                <td>sayiehhhwang@gmail.com</td>
                <td>09213456789</td>
                <td>Edit</td>
            </tr>
            
        </tbody>
    </table>

    <table id="orders-table" style="display: none;">
        <thead>

            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Items</th>
                <th>Total</th>
                <th class="th-payment">Payment</th>
                <th class="th-status">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#1</td>
                <td>Kyle Gonzales</td>
                <td>Matcha</td>
                <td>₱45</td>
                <td>GCash</td>
                <td>Pending</td>
            </tr>

            <tr>
                <td>#2</td>
                <td>Mark Reyes</td>
                <td>Strawberry</td>
                <td>₱45</td>
                <td>Cash</td>
                <td>Completed</td>
            </tr>

        
        </tbody>
    </table>
</div>
