<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/img/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>

    <header class="title-adminPage">
        <h1>Admin page</h1>

        <div class="logo">
            <img src="/img/logowhite.png">
        </div>
2
        <div class="tab-container">
            <button class="tab-btn active" data-tab="users">Users</button>
            <div class="tab-divider"></div>
            <button class="tab-btn" data-tab="orders">Orders</button>
        </div>

    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <div class="footer">
        Total accounts: <span id="total-accounts">0</span>
        Total orders  : <span id="total-orders">0</span>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
