@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #CCBEA8;
  --secondary-color: #2A241E;
  --accent-color: #4f4439;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 150px;
    line-height: 0.8;
}

.FirstSection {
  position: relative; /* Added for absolute positioning context */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  background-image: url('/img/index_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;
  padding: 0 80px;
  overflow: hidden;
}

.content {
  position: relative; /* Added to ensure content stays above */
  z-index: 2; /* Places content above the image */
}

.description-chocolate {
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    font-size: 13px;
    display: flex;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;  
    margin-left: 10px;
}



.btn-taste {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #634e3c;
    color: #E4D1B9;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
}

.btn-taste:hover {
    background-color: #49392C;
    color: #895725;
}


.big-chocolate {
    position: absolute;
    right: 0; 
    margin: 30px;
    top: 65%; 
    transform: translateY(-50%); 
    z-index: 1; 
    width: 35%; 
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.big-chocolate img {
    width: 120%;       /* Adjust this to make it bigger or smaller */
    max-width: none;   
    height: auto;
    object-fit: contain; 
}