@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/icon.png" />
    <link rel="stylesheet" href="~/css/main/site.css" />
</head>
<body>
        <div class="FirstSection">
            <div class="content">
                <h1 class="hotmilk" >Hot milk <br> Chocolate</h1>
                <p class="description-chocolate">
                    Warm up with our Hot Milk Chocolate and other comforting <br>
                    drinks—now part of our special menu.
                </p>
                <a asp-area="" asp-controller="Product" asp-action="Menu" class="btn-taste">Taste it now</a>
            </div>

        <div class="big-chocolate">
            <div class="smoke"></div>
            <div class="smoke smoke2"></div>
            <div class="smoke smoke3"></div>
            <div class="smoke smoke4"></div>
            <div class="smoke smoke5"></div>
            <div class="smoke smoke6"></div>
            <img src="/img/kape.png" class="kape" alt="Chocolate Image" />

        </div>
        </div>

        <div class="SecondSection">
        <div class="options" >
            <div class="drinks">
                <div class="drink-item">
                    <img src="/img/drinks.png" alt="Drinks Image" />
                    <h3>Richly brewed, perfectly comforting.</h3>
                    <p class="second-option-description">From refreshing iced blends to comforting hot <br> brews, our drinks are crafted to match every mood.</p>
                    <a asp-area="" asp-controller="Product" asp-action="Menu" class="check-menu-btn">Check menu</a>
                </div>
            </div>
            
            <div class="burger">
                <div class="burger-item">
                    <img src="/img/burger.png" alt="Burger Image" />
                    <h3>Juicy, bold, and freshly grilled.</h3>
                    <p class="second-option-description">Bite into the season with our handcrafted<br> burgers  made to satisfy every craving.</p>
                    <a asp-area="" asp-controller="Product" asp-action="Menu" class="check-menu-btn">Check menu</a>
                </div>
            </div>
        </div>
        </div>

        <div class="ThirdSection">
            <div class="text"">
                <h2 class="bean" >How You Bean?</h2>
            </div>

            <p class="at" >&#64;homegroundcoffeebar</p>
        </div>

</body>
</html>