@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/icon.png" />
    <link rel="stylesheet" href="~/css/main/index.css" />
</head>
<body>
        <div class="FirstSection">
            <div class="content">
                <h1>Hot milk <br> Chocolate</h1>
                <p class="description-chocolate">
                    Warm up with our Hot Milk Chocolate and other comforting <br>
                    drinks—now part of our special menu.
                </p>
                <a href="/Menu" class="btn-taste">Taste it now</a>
            </div>

            <div class="big-chocolate">
                <img src="/img/kape.png" class="kape" alt="Chocolate Image" />
            </div>
        </div>

</body>
</html>