* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2A241E;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-adminPage {
    background-image: url(/img/footerbackground.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 68px 40px;
}

.title-adminPage h1 {
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    bottom: 50px;
    right: 20px;
    color: #CCBEA8;
}

.title-adminPage .logo {
    position: absolute;
    left: 48%;
}

.logo img {
    width: 160px;
    position: relative;
    right: 50px;
    bottom: 20px;
}

.content {
    padding: 0 20px 30px 20px;
    margin: 0;
    flex: 1;
    overflow-y: auto;
}

.tab-container {
    position: absolute;
    top: 100px;               
    left: 50%;
    transform: translateX(-50%);
    background-color: #3A322B;
    padding: 5px 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: 1px solid #6A5C50;
    gap: 0;
    z-index: 10;
}

.tab-container .tab-btn {
    background: none;
    border: none;
    color: #CCBEA8;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    transition: 0.2s;
}

.tab-container .tab-btn::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #CCBEA8;
    transform: translateX(-50%);
    transition: width 0.40s;  
}

.tab-container .tab-btn.active::after {
    width: 70%;
}

.tab-divider {
    width: 1px;
    height: 25px;
    background-color: #8C7E70;
    margin: 0 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #fff;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

th {
    background-color: #2A241E;
    color: rgba(204, 190, 168, 0.7);
    font-weight: 500;
}

td {
    background-color: #2A241E;
    color: #CCBEA8;
}

td a {
    color: #fff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* --- FIXED FOOTER --- */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2A241E;
    text-align: right;
    padding: 10px 40px;
    color: #bbb;
    font-size: 14px;
    border-top: 1px solid #6A5C50;
}

.footer #total-accounts {
    margin-right: 20px;
}
