@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #CCBEA8;
  --secondary-color: #2A241E;
  --accent-color: #4f4439;
}

html {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.welcome-text {
  color: var(--primary-color);
  font-size: 1rem;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1.6;  
}

footer.footer {
  width: 100%;
  background-image: url('/img/footerbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary-color);
  padding: 15px 0;
  height: 250px;
}



.social {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  margin-top: 50px;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;         
  height: 40px;
  border-radius: 50%;   
  background-color: var(--secondary-color);
  overflow: hidden;     
  transition: 0.3s;
}

.social-icon:hover {
  background-color: var(--accent-color);
}

.social-icon img {
  width: 20px;  
  height: 20px;
  object-fit: cover; 
}


.footer-content {
  display: flex;             
  justify-content: space-between; 
  align-items: center;  
  gap: 80px;             
}

.footer-info-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  gap: 20px;
}

.about, .quicklinks {
  color: #CCBEA8;
}

.about h1,
.quicklinks h1 {
  font-size: 1.7rem !important;
  margin-bottom: 10px;
}

.quicklinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quicklinks li {
  margin-bottom: 8px;
}

.quicklink {
  color: #CCBEA8;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.quicklink:hover {
  color: #e1d5c3;
}


.footer-logo{
  width: 250px;
  align-self: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}


/* Responsive Design */
@media (max-width: 700px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-info-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-logo{
    width: 200px;
  }
}


/*NAVBAR */
header {
  background-color: #020702;
  width: 100%;
  position: sticky; 
  top: 0;
  z-index: 100;
}


.navbar .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 60px;
}


.navbar-logo img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: scale(1.05);
}


.list-links {
  display: flex;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px; 
}


.nav-link {
  color: #D3C4AE; 
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: row;
    padding: 20px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}